// Specific CSS for your home-page
.contact_button{
  background-color: #A64724;
  transition: 0.2s;
}

.contact_button:hover{
  background-color: $niyovi-brown;
  transition: 0.2s;
}
.cocoa-img{
  position: relative;
}
