<div class="flex flex-col md:flex-row md:justify-between mx-6 items-center niyovi-font pt-5 border-b niyovi-brown-border">
  <div class="niyovi-brown text-xs">
    Escribenos a: info@alimentosniyovi.com.co
  </div>

  <div class="flex">
    <i class="fab fa-facebook m-2 text-blue-600"></i>
    <i class="fab fa-instagram m-2 instagram-colors"></i>
  </div>
</div>

<nav>
  <div class="logo">
    <a href="/" class="flex items-center py-2 px-2">
      <img src="https://www.alimentosniyovi.com.co/wp-content/uploads/2020/11/cropped-120373324_112302757303009_4487091841762052932_n-2.png" alt="Logo" class="h-24 w-44 mr-2">
    </a>
  </div>
  <ul class="nav-links">
    <li><a href="/" class="niyovi-font niyovi-brown hover:text-gray-200">Inicio</a></li>
      <li><a href="/" class="niyovi-font niyovi-brown hover:text-gray-200">Nosotros</a></li>
      <li><a href="/" class="niyovi-font niyovi-brown hover:text-gray-200">Productos</a></li>
      <li><a href="/" class="niyovi-font niyovi-brown hover:text-gray-200">Contacto</a></li>
      <li><a href="/" class="niyovi-font niyovi-brown hover:text-gray-200">Tienda Virtual</a></li>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
