<div class="h-96 flex flex-col justify-center items-center cocoa-img" style="background-image: url('https://www.alimentosniyovi.com.co/wp-content/uploads/2020/11/alexandre-brondino-b-F9K6DUq2I-unsplash-scaled.jpg'); background-size: cover; background-position: center bottom;">
  <div class="text-white text-center niyovi-font text-2xl font-bold">
    Chocolate de mesa y café tostado 100% naturales.
  </div>
  <div class="text-white text-center niyovi-font text-lg font-bold mt-3">
    Con todo el Sabor y Tradición Campesina.
  </div>
  <button class="contact_button w-40 font-normal text-sm py-3 px-5 mt-3 rounded flex items-center">
    <i class="fab fa-whatsapp mr-5 text-white"></i>
    <div class="text-center text-white">ESCRIBENOS</div>
  </button>
</div>
